.header-menu a{
    text-decoration: none;
    color: #fff;
    margin-right: 1.5rem;
    margin-bottom: 0.3rem;
}
.header-menu{
    margin-top: 10px;
}

.header-menu-left h2{
    font-weight: bold;
}
